name: Push to cachix
on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v23
      - uses: cachix/cachix-action@v12
        with:
          name: vscode-js-debug
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - run: nix flake show --json | jq '.packages."x86_64-linux" | keys[]' | xargs -I {} nix build .#{} --accept-flake-config
  pin:
    needs: release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v23
      - uses: cachix/cachix-action@v12
        with:
          name: vscode-js-debug
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - run: cachix pin vscode-js-debug latest "$(nix build .#latest --accept-flake-config --print-out-paths)"
